body
 {
    margin: 0;
    background-image: url('https://img.freepik.com/free-vector/background-realistic-abstract-technology-particle_23-2148431735.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #333;
    background-repeat: repeat;
}
h1
{
    text-align: center;
    margin-top: 50px;
    color: #fff;
}   
p
{
    max-width: 600px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
}
iframe {
  border: none;
}

